[credential]
	helper = store
[user]
	name = ryosukeYamazaki
	email = ryamazaki@c-fo.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "ssh://git@github.com"]
     insteadOf = git://git@github.com
[url "ssh://git@github.com"]
  insteadOf = https://github.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore
[ghq]
	root = /Users/yamazaki-ryosuke/go/src
[alias]
	cm = commit
	st = status
	co = checkout
	cd = checkout develop
	df = diff
	br = branch --sort=committerdate
	ad = add -p
	poc = push origin HEAD
	pud = pull upstream develop
	pum = pull upstream master