/auto-save-list
*~
*.elc
.lsp-session-v1
/todo
\#*
/elpa
/elpa-*
/.cache/
/.cask/
recentf
rake.cache
projectile-bookmarks.eld
projectile.cache
projectile-frecency.eld
/meghanada/*
/eshell/*
tramp
transient/*
